

:root {
    --color-1: rgb(41, 42, 45);
    --color-2: rgb(169, 169, 179);
    --color-3: #CDCDC0;
    --color-4: #626D71;
}

body {
    margin: 0 auto;
    margin-top: 50px;
    background-color: var(--color-3);
    color: var(--color-4);
    font-family: Arial, sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.54;
    width: 50%;
    letter-spacing: 0.06em;

}


h1 {
    font-size: 42px;
    letter-spacing: 0.1em;
    font-family: Helvetica;
}

h2 {
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    font-family: Helvetica;
 }

/**Links in text **/
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: green;
}

/** Header **/

header {
    display: flex;
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
/*    line-height: 50px;*/
    border: 0px;
    background-color:  #252627;
    padding: 20px;

}

header * {
    display: inline;
    height: 50px;
    font-family: roboto, Arial;
    color: #A9A9B3;
    text-decoration: none;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.06em;
}

header ul {
    padding: 0;
}


header li {
    margin-left: 20px;
}


/** Intro content **/
section {
    height: 100vh;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
}

.section-inner {
    padding: 30px;
}

.intro-img {
    width: 250px;
    height: 250px;
}

.intro-text {
    margin-top: 50px;
}

#head {
    width: 760px;
    text-align: center;
}


footer {
    text-align: center;
    padding: 50px;
}


/** Grid **/
.intro-container {
    display: grid;
    grid-template-columns: 90px 150px auto auto;
    grid-template-rows: auto 40px 40px;
   /* border: 2px solid white;*/
    place-items: stretch;
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.item-2 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    place-self: center;
}

.item-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: start;
    align-self: center;
}

.item-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: start;
    align-self: center;
}

.arrow-text {
    font-family: monospace, serif;
    font-size: 18px;
    line-height: 5px;
}


.arrow {
    font-family: Arial, sans-serif;
    font-size: 30px;
}


.git-img {
    width: 48px;
    height: 48px;
}


/** Timeline **/


.timeline {
    width: 1px;
    height: 90%;
    background-color: white;
    margin: 0 auto;
    position: absolute;
}


/* .timeline { */
/*     postition: relative; */
/*  } */

/* .timeline::before{ */
/*   content: ''; */
/*   width: 5px; */
/*   background-color: white; */
/*   position: absolute; */
/*   top: 0; */
/*   bottom: 0; */
/*   left: 15px; */
/* } */

svg {
    margin: 0 auto;
    border: 2px solid white;
}

.dot {
    height: 16px;
    width: 16px;
    transform: translate(-50%, -50%);
    background-color: var(--color-2);
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.timeline-left {
    margin-left: 20px;

}

